*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
   font-size: 20px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight:400;
}

header, footer{
  background: #222831;
  height:60px;
  color: white;
}

nav {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav>ul {
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

nav>ul>li {
    width: 100%;
    height: 100%;
}

nav>ul>li>a {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
}

h1{
    font-size:250%;
    margin-bottom:20px;
    border-bottom:1px solid black;
    font-weight:500;
}

.top {
    width: 80px;
    height: 80px;
    background: black;
    border: none;
    font-size: 150%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    position: fixed;
    bottom: 120px;
    right: 120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;


}

section {
    width: 100%;
    padding: 40px;
}

article{
    width:60vw;
    margin: 0 auto;
    padding:40px;
}

.box {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 0;
    margin-bottom: 40px;
}

.box>a>figure {
    width: 100%;
    height: 100%;
}

.box>a>figure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.box>a>figure>img:hover {
    transform: scale(1.03);
}

.box>a>section {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    color: white;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, 80%, black);
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
    /*als je flex direction aanpast dan wordt align iems horizontaal en justify content verticaal*/
    flex-direction: column;
}

figure{
    margin-bottom:40px;
    
}

img{
    width:100%;
    border-radius:5px;
    transition: 0.3s transform;
}

.themask > img{
    width: 70%;
}

img:hover{
    transform: scale(1.03);
}

p{
    margin-bottom: 40px;
}

figcaption{
    font-size:80%;
    font-style: italic;
    font-weight:400;
}

audio{
    display:block;
    margin-top:20px;
}

video{
    width:100%;
    margin-bottom:40px;
}

button{
    width:80px;
    height:80px;
    background: #222831;
    border:none;
    font-size: 150%;
    font-family: 'Nunito Sans', sans-serif;
    border-radius:5px;
    color:white;
    position:fixed;
    bottom:120px;
    right:120px;
}

footer{

    display: flex;
    align-items: center;
}

footer > p{
    width:60vw;
    margin:0 auto;
    padding-left:40px;
}

@media screen and (max-width:1000px) {
    article{
        width:80vw;
       }
       footer > p{
        width:80vw;
        }
        img:hover{
            transform: none;
        }
}

@media screen and (max-width:600px) {
    body{
        font-size:16px;
    }
    article{
        width:100vw;
        padding:20px;
    }
    h1{
        font-size:180%;
    }
    footer > p{
        width:100vw;
        padding-left:20px;
        }
}
       

@media screen and (max-width: 1000px) {
    main {
        width: 80vw;
    }

    footer>p {
        width: 80vw;
    }

    img:hover {
        transform: none;
    }

    .top {
        width: 60px;
        height: 60px;
        bottom: 60px;
        right: 60px;
    }

    header {
        height: auto;
    }

    nav {
        width: 100%;
    }

    nav>ul {
        display: block;
    }
}